ldap.url=ldap://lcunet.lcu.edu:389/
ldap.usersSearchRoot=OU=LCU,DC=lcunet,DC=lcu,DC=edu
#ldap.groupsSearchRoot=CN=LCU-groups,DC=lcunet,DC=lcu,DC=edu
ldap.groupsSearchRoot=OU=LCU-Groups,DC=lcunet,DC=lcu,DC=edu
ldap.groupsSearchRootSecondary=CN=Users,DC=lcunet,DC=lcu,DC=edu
ldap.bindUserDistinguishedName=CN=webappldap,OU=CampusServices,DC=lcunet,DC=lcu,DC=edu
ldap.bindUserPassword=xxxxxxxx

cryptoKey=geoffreyritcheyX
testingpass=xxxx

database.powerCampus.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
database.powerCampus.user=Avatar
database.powerCampus.password=xxxxxxx
#database.powerCampus.url=jdbc:sqlserver://lcukindness;ServerName=lcukindness.lcunet.lcu.edu;databaseName=Area51
database.powerCampus.url=jdbc:sqlserver://gefjun;ServerName=gefjun.lcunet.lcu.edu;databaseName=Campus6

database.chapel.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
database.chapel.user=Avatar
database.chapel.password=xxxxx
database.chapel.url=jdbc:sqlserver://lcufaith;ServerName=lcufaith.lcunet.lcu.edu\\lcuapps;databaseName=chapelTEST
# database.chapel.url=jdbc:sqlserver://lcufaith;ServerName=lcufaith.lcunet.lcu.edu\\lcuapps;databaseName=chapel

database.jndi.names=chapel,powerCampus

mail.bulk.user=OperatorChapel@lcu.edu
mail.bulk.pass=xxxxx
mail.bulk.domain=lcu.edu
mail.bulk.batch.size=350


