
html, body {
	height:200%;
	margin:0;
	padding:0;
}

body{
    background: url('images/bg_main.jpg') repeat-y center top transparent;
	font-family:"TrebuchetMSRegular", Verdana, Arial, Helvetica, sans-serif;
}

#container {
	width:995px;
	height:100%;
	margin: 0 auto;
	background: url('images/bg_timesheet.jpg') repeat center top transparent;
}

#intro {
	position:relative;
	top:0;
	height:146px;
}

#header {
	background: url('images/bg_header.jpg') no-repeat ;
    width: 100%;
    height: 146px;
    margin:0;
	color:#FFF;
}

.header {
	border-bottom: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b5a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
}

.cell {
	padding: 2px 15px;
	overflow: hidden;
}
td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
  font-size: small;
  font-family: Arial Unicode MS, Arial, sns-serif;
}


#content {
    padding-right: 40px;
    padding-left: 10px;
}

#header {
	background: url('images/bg_header.jpg') no-repeat ;
    width: 100%;
    height: 146px;
    margin:0;
	color:#FFF;
}

#header h1,h2 {
	font-size:200%;
    padding-left: 10px;
    color: black;
}

.pad {
	padding-left: 10px;
}
.title {
	font-size: 14pt;
	padding: 10px;
    color: black;
}

#header a:hover {
	color:#7A2875;
}

#logo {
    background: url('images/logo_timesheet.png') no-repeat left top transparent;
    width: 176px;
    height: 146px;
    top: 0px;
    left: 0px;
	position:relative;
	z-index:4;
}

.contacts-ListRow td {
  border-bottom: 1px solid #E2E2E2;
  padding: 5px;
  background-color: #FFFFFF;
}

table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

.dataTables_wrapper {
	padding: 10px;
}

.gridTable {
	  maring: 10px;
	  border-width: thick;
	  border-style: solid;
	  border-color: lightgray;
}

td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

th, td {
  padding: 0px;
}
  
td.add-contact-label {
  text-align: left;
}

add-contact-input {
  border: 1px solid red;
  border-collapse: collapse;
  margin-right: 0px;
  margin-left: auto;
}
  
td.contacts-NavContainer {
  padding-left: 10px;
  padding-right: 10px;
}

td.contacts-ListMenu {
  padding-bottom: 6px;
}

td.contacts-ListContainer {
  padding-right: 10px;
}

.labelpadding {
	padding-right: 5px;	
}

.cw-FlowPanel-topspace {
  margin-top: 20px;
}

.cw-FlowPanel-gridspace {
  margin-top: 20px;
  margin-bottom: 20px;
}

.zero {
	width: 1px;
	background: blue;
}

.contacts-HeaderListContents {
	text-decoration: underline;
	color:blue;
	font-weight: bold;
	font-style: italic;
}

.contacts-HeaderContainer {
  padding-right: 10px;
}

td.contacts-ListCheckbox {
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.totals {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: black;
	border-style: double;
	border-width: thick;
}

td.contacts-ListName {
  padding-top: 2px;
  padding-bottom: 2px;
}

.gwt-DialogBox {
  border: 2px outset;
  background-color: white;
  padding: 10px;
  	width: 400px;
  border: 0;

}

.gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
   background-color: whitesmoke;
 }
.gwt-Label-Error {
	color: red;
}

a:hover.login {
	color: white;
}

.Caption {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
}

.dialogTopLeft {
    background: url(images/corner.png) no-repeat -13px 0px;
}

.dialogMiddleLeft {
    background: url(images/vborder.png) repeat-y;

}

.login {
	position: absolute;
  top: 10px;
  right: 20px;
  color: white;

}
.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top:1px solid #999;
  cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none;
}

.datePickerMonthSelector td:focus {
  outline: none;
}

.gwt-TabPanel {
    margin: 25px;
}

.gwt-TabPanelBottom {
	background: #f0f0f0;
}


.gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
   background-color: whitesmoke;
 }
.gwt-Label-Error {
	color: red;
}



.currentWorkingPerson {
	position: absolute;
  top: 125px;
  font-weight: bold;
  color: white;

}


/**
 * The file contains styles for GWT widgets in the standard theme.
 */

body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}
pre {
  font-family: "courier new", courier;
  font-size: small;
}

a, a:visited, a:hover {
  color: #0000AA;
}

.title-padding {
	margin-top: 6px;
	margin-bottom: 6px;
}

